@CHARSET "UTF-8";


.main_style{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: auto;
	padding-right: 0px;
	background-color: #34495e;
}

.headBar{
	width: 100%;
	height: 6px;
	margin-left:auto;
  	margin-right:auto;
	background-color: #3c3c3c;
}

#page_header{
	width: 1000px;
	height: 220px;
	margin-left:auto;
  	margin-right:auto;
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto 
}


