@CHARSET "UTF-8";


.main_style{

	
}


#page_header{
	width: 100%;
	height: 220px;
	margin-left:auto;
  	margin-right:auto;
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


