@CHARSET "UTF-8";




.Container{
	width: 980px;
	margin-left:auto;
  	margin-right:auto;
  	margin-bottom: 0px;
  	margin-top: 0;
  	padding: 80px 0 80px 0;
  
  	border-radius: 0px ;
  	background-color: white;
}

#standard_logging_form{
	float: left;
}

#acc_create{
	float: right;
	text-align: center;
	padding: 40px;
}

#other_logging_providers{
	
	text-align: center;
	height: 200px;
	width: auto;
  	
  
  	
}
#buttons{}

#submit_btn{
	margin-top:	10px;
	float: right;
}

#register_form{
	float: left;
	
}

.browser-spec{
	height: 80%;
	
}

#register_msg{
	float: right;	
	text-align: center;
	width: 400px;
	margin: 50px ;
  	padding: 10px;
}

.line_divs{
	display: inline-block;
	width: 100%;
	
}

.div_block1{
	border-color: #e9eaed !important;
  	border-width: 2px; 
  	border-style:solid;
  	border-radius: 10px;
  	background-color: #e9eaed;
  	margin: 50px ;
  	padding: 10px 20px 10px 20px;
}

.title{
	margin-left: 50px;
}
